{
    "NODE_ENV": "development",
    "SSLDomain": "",
    "SSLFolder": "",

    "apiPort": 8080,

    "settings_clientId": "",

    "owners": [],
    "developers": [],

    "clientId": "",
    "botMainDiscordServer": "",

    "bwcRole": "",
    "guestRole": "",
    "verifyRole": "",
    "unsignedRole": "",

    "streamerRole": "",

    "embedColor": [200,0,0],

    "omitLockdownChannels":  [],
    "omitLockdownRoles": [],

    "creatorId": "299192199843676171",
    "version": "1.3.0",
    "library": "Discord.js",
    "Creator": "[BWC] Patrick#4943",
    "website": "https://the-bwc.com",
    "discord": "https://discord.the-bwc.com",
    "server_location": "New York, NY, USA"
}
