{
    "NODE_ENV": "development",
    "SSLDomain": "",
    "SSLFolder": "",

    "apiPort": 4500,

    "settings_clientId": "881597230165946408",

    "owners": ["299192199843676171"],
    "developers": ["299192199843676171"],

    "clientId": "798169647589490729",
    "botMainDiscordServer": "378419940027269130",

    "bwcRole": "891674166846185512",
    "guestRole": "891673337632292914",
    "verifyRole": "1000534479267434578",
    "unsignedRole": "1000534520577130599",

    "streamerRole": "965634025022701630",

    "embedColor": [200,0,0],

    "omitLockdownChannels":  [],
    "omitLockdownRoles": [],

    "creatorId": "299192199843676171",
    "version": "1.0.0",
    "library": "Discord.js",
    "Creator": "[BWC] Patrick#4943",
    "website": "https://the-bwc.com",
    "discord": "https://discord.the-bwc.com",
    "server_location": "New York, NY, USA"
}
